@import "tailwindcss";

@theme inline {
  --color-background: #0f0f0f;
  --color-foreground: #ffffff;

  --color-primary: #0f0f0f;
  --color-card: #1a1a1a;
  --color-card-border: #2a2a2a;
  --color-accent: #ff4655;
  --color-accent-glow: rgba(255, 70, 85, 0.3);
  --color-text: #ffffff;
  --color-text-secondary: #888888;

  --color-role-duelist: #ff4655;
  --color-role-controller: #4fffa0;
  --color-role-initiator: #4f8aff;
  --color-role-sentinel: #a04fff;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}